/*//////////////////////////////////////////////////
--------------------------------------------------
GENERAL
--------------------------------------------------
//////////////////////////////////////////////////*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.steps, .why {
  background: rgb(249,249,249);
}

/*//////////////////////////////////////////////////
--------------------------------------------------
LEZIONI
--------------------------------------------------
//////////////////////////////////////////////////*/

.lezioni img { max-height: 180px; }

/*//////////////////////////////////////////////////
--------------------------------------------------
STEPS
--------------------------------------------------
//////////////////////////////////////////////////*/

.steps img {
  height: 200px;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
WHY
--------------------------------------------------
//////////////////////////////////////////////////*/

.why img {
  height: 350px;
  background: #428bca;
  padding: 30px;
  border-radius: 50%;
}
